.box {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 2rem;
  &.left {
    top: 0;
  }
  &.mid {
    top: 300px;
  }
  &.right {
    top: 50px;
    span {
      left: -70px;
    }
  }

  span {
    display: inline-flex;
    position: absolute;
    top: 1rem;
    left: 180px;
    background: white;
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    line-height: 1;
    padding: 15px;
    white-space: nowrap;
    border-radius: 1rem;
  }

  .image {
    display: block;
    position: relative;
    width: 250px;
    height: 400px;
    overflow: hidden;
    border-radius: 1rem;
    img {
      object-fit: cover;
    }
  }
}